* {
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

main {
  text-align: center;
}

.form-box {
  border: 2px solid salmon;
  padding: 20px;
  margin: 30px;
  text-align: center;
  line-height: 35px;
}